@import "tailwindcss";

.exec-container {
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
}

.valid { 
  color: green;
  display: inline;
}
.invalid {
  color: red;
  display: inline;
}
.hide {
  display: none;
} 
/* CSS for check and cross icons */
.errmsg {
  color: red;
  background: #ffe6e6;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.navbar {
  font-family: 'Staatliches', cursive;
  background-color: #233EA1;
}

.navbar-links:hover {
  color: #D7263D;
  cursor: pointer;
}

.staatliches {
  font-family: 'Staatliches', cursive;
}

.elliott-container {
  clip-path: polygon(0 0, 0% 0%, 23% 6%, 100% 45%, 100% 100%, 0% 100%);
}

.torn-divider {
  clip-path: polygon(0% 0%, 4% 100%, 8% 0%, 12% 100%, 16% 0%, 20% 100%, 24% 0%, 28% 100%, 32% 0%, 36% 100%, 40% 0%, 44% 100%, 48% 0%, 52% 100%, 56% 0%, 60% 100%, 64% 0%, 68% 100%, 72% 0%, 76% 100%, 80% 0%, 84% 100%, 88% 0%, 92% 100%, 96% 0%, 100% 100%, 100% 100%, 0% 100%);
}